<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand text-info" href="#">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <img src="assets\bootstrap-solid.svg" width="30" height="30" alt=""> Linxsi App</a>
    <!--link rel="stylesheet" href="src\app\components\login\font-awesome.min.css"-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-light" [routerLink]="['home']"> <img src="assets\home.svg" width="30" height="30" alt=""> Principal <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" [routerLink]="['home']"> <img src="assets\wallet.svg" width="30" height="30" alt=""> Cartera <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" [routerLink]="['productos']"> <img src="assets\products.svg" width="30" height="30" alt=""> Productos</a>
            </li>
            <li hidden="true" class="nav-item">
                <a class="nav-link text-light" [routerLink]="['marcas']"><img src="assets/copyright.svg" width="30" height="30" alt=""> Marcas </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" [routerLink]="['clientes']"><img src="assets\people.svg" width="30" height="30" alt=""> Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light"> <img src="assets\people.svg" width="30" height="30" alt="">Vendedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" [routerLink]="['rutero']"> <img src="assets\route.svg" width="30" height="30" alt=""> Rutero
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" [routerLink]="['configuracion']"> <img src="assets\settings.svg" width="30" height="30" alt=""> Configuración
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" [routerLink]="['configuracion']"> <img src="assets\settings.svg" width="30" height="30" alt=""> Móvil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#"> <img src="assets\about.svg" width="30" height="30" alt=""> Acerca
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" data-toggle="modal" data-target="#logoutModal" href=""> <img src="assets\power-off.svg" width="30" height="30" alt=""> Salir</a>
            </li>
        </ul>
        <form hidden="true" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
        </form>
    </div>
</nav>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-dark">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
            </div>
            <div class="modal-body">Seleccione salir para cerrar sesion</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark">Cancelar</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
